:root {
  --surface: #ccc;
  --text: #333;
  --dir-border: #666;
  --border-radius: 5px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: 14px system-ui, sans-serif;
  background: rgb(27, 27, 27);
  background: var(--surface);
  color: rgb(198, 198, 198);
  color: var(--text);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.icongrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 24px);
  align-content: flex-start;
  gap: 1rem;

  padding: 1rem;
  border: 1px solid var(--dir-border);
  border-radius: var(--border-radius);
}

.controls {
  padding: 1rem;
  border-width: 0;
  border-style: solid;
  border-color: var(--dir-border);
}

.controls.controls--header {
  border-bottom-width: 1px; 
}

.controls.controls--footer {
  border-top-width: 1px;
}

.iconbtn {
  all: unset;

  position: relative;
  cursor: pointer;
}

.iconbtn > svg {
  max-width: 100%;
}

.iconbtn:hover,
.iconbtn:focus {
  outline: 1px solid blue;
}
