:root {
  --text: #333;
  --dir-border: #666;
  --border-radius: 5px;
  --surface: #ddd;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font: 14px system-ui, sans-serif;
  background-color: #ccc;
  background-image: repeating-linear-gradient(
    45deg,
    transparent 0,
    transparent 20px,
    #ddda 0,
    #ddda 40px
  );
  color: var(--text);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  all: unset;
}

.app {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 0.5rem;

  overflow: hidden;
  height: 100vh;
  padding: 0.5rem;
}

.dropzone {
  display: grid;
  place-content: center;

  text-align: center;
  height: 100px;
  border-radius: 10px;
  color: #333;
  background-color: #999;
}

.panel {
  display: grid;

  overflow: hidden;
  height: 100%;
  border: 1px solid var(--dir-border);
  border-radius: var(--border-radius);
  background: var(--surface);
}

.icongrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 24px);
  align-content: flex-start;
  gap: 1rem;

  padding: 1rem;
}

.icongrid--bordered {
  border: 1px solid var(--dir-border);
  border-radius: var(--border-radius);
}

.controls {
  display: flex;

  padding: 1rem;
  border-width: 0;
  border-style: solid;
  border-color: var(--dir-border);
}

.controls--header {
  border-bottom-width: 1px;
}

.controls--footer {
  border-top-width: 1px;
}

.iconbtn {
  all: unset;

  position: relative;
  cursor: pointer;
}

.iconbtn > svg {
  max-width: 100%;
}

.iconbtn:hover,
.iconbtn:focus {
  outline: 1px solid blue;
}

.controlbtn {
  padding: 1px 3px;
  border: 1px solid var(--dir-border);
  border-radius: 3px;
  background: #fff;
  color: var(--text);
}
